/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<work-card>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.cardSection{
    background-color: #660000;
}
.work-card{
    max-width: 960px;
    padding-top: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.item-work{
    width: 225px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-work__icon{
    width: 120px;
    height: 120px;
    margin: 21px 0 18px;
    background-image: url(../image/work/Rectangle.png);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.item-work__title{
    font-size: 32px;
    color: #474747;
    text-align: center;
}
.item-work__text{
    margin: 25px 0 24px;
    font-size: 12px;
    color: #979797;
    text-align: center;
}
.item-work:hover{
    background-color: #76c38f;
}
.item-work:hover .item-work__icon{
    background-image: none;
    background-color: #ffffff;
    color: #333333;
}
.item-work:hover .item-work__text, .item-work:hover .item-work__title{
    color: #ffffff;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<nameDiv>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.nameDiv{
    max-width: 960px;
    margin: auto;
    padding: 40px 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.nameDivCentr{
    width: 256px;
    height: 48px;
    font-size: 32px;
    background-color: #303030;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    flex-grow: 0;
}
.nameDiv__line{
    min-width: 5%;
    height: 5px;
    background-color: #303030;
    flex-grow: 1;

}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<work-card>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.content-card{
    max-width: 960px;
    margin: auto;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-card__item{
    box-sizing: border-box;
    position: relative;
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
    background-color: #353535;
    border: solid #ffffff 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-card__number{
    font-size: 18px;
    color: #ffffff;
}
.content-card__text{
    position: absolute;
    width: 100%;
    padding: 10px 0 ;
    bottom: 0;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background-color: #151515;
}
.content-card__item:hover{
    border-color: #76c38f;
}
.content-card__item:hover .content-card__text{
    display: none;
}
/* ((((((((((((((((((((((((((((((((((((((((((((((((((((@media)))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))) */
@media (max-width: 890px) {
    .work-card{
        flex-wrap: wrap;
        padding-top: 0;
        justify-content: space-around;
        align-content: space-around;
    }
    .item-work{
        margin: 20px 0;
    }
    .content-card{
        justify-content: space-around;
    }
}
@media (max-width: 600px){
    .content-card{
        justify-content: center;
    }
}