.headerCarousel{
    max-width: 960px;
    margin: auto;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.centerContent{
    width: 840px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: calc(30px + 16 * (100vw / 960));
    font-weight: normal;
    padding-bottom: 32px;
    /* 46px */
}
.centerContentLeft p{
    font-size: 12px;
    padding-bottom: 35px;
    color: #979797;
}
.centerContentLeft a{
    font-size: 13px;
    padding: 12px 16px;
    border-radius: 15px;
    background-color: #76c38f;
    text-decoration: none;
}
.centerContentRight img{
    max-width: 100%;
}
/* ((((((((((((((((((((((((((((((((((((((((((((((((((((@media)))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))) */
@media (max-width: 890px) {
    .centerContent{
        flex-direction: column-reverse;
        text-align: center;
    }
}