*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<< headerSection >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.headerSection{
    background-color: #290000;
}
.mainHeaderDiv{
    max-width: 960px;
    margin: auto;
    padding: 47px 0 43px;
    display: flex;
    justify-content: space-between;
}
.navDiv nav ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 20px;
    border-radius: 15px;
}
.navDiv nav ul li a{
    text-decoration: none;
    font-size: 13px;
}
.navDiv{
    display: flex;
    align-items: center;    
}
.pLarge{
    font-size: 28px;
}
.pSmall{
    font-size: 11px;
    color: #979797;
}
.navDiv nav ul li:hover{
    background-color: #76c38f;
    padding: 12px 20px;
    border-radius: 15px;
}
.carousel-item active{
    width: 50px;
    height: 40px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<< footer >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
footer{
    background-color: #2b2b2b;
    border-top: 1px solid #3a3a3a;
    font-size: 13px;
}
.footerFlex{
    max-width: 960px;
    margin: auto;
    padding: 23px 0;
    display: flex;
    justify-content: space-between;
}
.footerFlex p{
    color: #979797;
}
/* ((((((((((((((((((((((((((((((((((((((((((((((((((((@media)))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))) */
@media (max-width: 890px) {
    .mainHeaderDiv{
        display: inline;
    }
    .headerText{
        text-align: center;
    }
    .navDiv{
        text-align: center;
    }
}
@media (max-width: 600px){
    .footerFlex{
        flex-direction: column;
        align-items: center;
    }
}